.widget_incsub_wiki a.current {
    color: #000;
    font-weight: bold;
}

.incsub_wiki_clear {
    clear: both;
}

.incsub_wiki_tabs {
    border: solid #999;
    border-width: 0 0 1px 0;
}

.incsub_wiki_tabs ul {
    margin: 0 !important;
    padding: 0;
}

.incsub_wiki_tabs ul.left, .incsub_wiki_tabs ul.right {
    width: auto !important;
}

.incsub_wiki_tabs ul.left {
    float: left;
    margin-left: 1em !important;
}

.incsub_wiki_tabs ul.right {
    float: right;
    margin-right: 1em !important;
}

.incsub_wiki_tabs li {
    display: inline !important;
    border: solid #999 !important;
    border-width: 1px 1px 0 1px !important;
    padding-bottom: 0.1em !important;
    margin: 0 0.5em 0 0 !important;
    color: #333 !important;
    background: #efefef !important;
}

.incsub_wiki_tabs .right li {
    margin: 0 0 0 0.5em !important;
}

.incsub_wiki_tabs li.current {
    border-bottom: 1px solid white !important;
    color: black !important;
    background: white !important;
}

.incsub_wiki_tabs li a {
    padding: 0 1em !important;
    text-decoration: none !important;
    color: inherit !important;
}

.type-incsub_wiki .post-edit-link {
    display: none;
}

.incsub_wiki_content {
    margin: 0.2em 0.5em;
}

.incsub_wiki_meta_box {
    clear: left;
}

.incsub_wiki_br_roles {
    display: none;
}

.incsub_wiki_label_roles {
    margin-right: 10px;
}

.incsub_wiki_title {
    border-style: solid;
    border-width: 1px;
    font-size: 1.7em;
    line-height: 100%;
    outline: medium none;
    padding: 3px 4px;
    width: 100%;
}

#content .wp_themeSkin tr td {
    padding: 0;
}

.wp_themeSkin tr.mceFirst td.mceToolbar {
    background: url("../images/ed-bg.gif") repeat-x scroll left top #DFDFDF;
    border-color: #DFDFDF;
}

.wp_themeSkin .mceButton {
    color: #B2B2B2;
}

#content table.mceToolbar {
    width: auto;
    margin: 0 2px 2px;
}

div.incsub_wiki_top span.incsub_wiki_crumbs, 
div.incsub_wiki_top a.incsub_wiki_crumbs {
    font-size: 1.2em;
    color: #888;
}

div.incsub_wiki_top {
    padding-bottom: 5px;
    font-size: 0.7em;
    color: #888;
}

#content div.incsub_wiki .entry-content {
    padding-top: 0;
}